:root {
  font-weight: 300;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}
body {
  font-family: Helvetica, Arial, sans-serif!important;
}
ul {
  padding-left: 1rem;
}
h1 {
  size: 36px;
  line-height: 54px;
  font-weight: 700;
}
h2 {
  size: 24px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.accordion-header button {
  border-radius: 10px;
  background-color: transparent!important;
  border: none!important;
  box-shadow: none!important;
}
.bg-darkblue {
  background-color: #0D28A6;
}
p {
  font-size: 14px;
  line-height: 20px;
}
.image-list {
  list-style: none; /* Menghapus bullet point default */
  padding: 0;
  margin: 0;
}

.image-list li {
  background-image: url('./assets/checklist.png');
  background-repeat: no-repeat;
  background-position: 0 50%; /* Menempatkan gambar di kiri tengah */
  background-size: 20px 20px; /* Menyesuaikan ukuran gambar */
  padding-left: 30px; /* Memberi jarak antara ikon dan teks */
}

.logo {
  width: 100px;
  height: 34px;
  background-color: #0D28A6;
}
nav {
  z-index: 999;
  background-color: #F1F3FF;
}
.navbar__menu {
  font-weight: 400;
  color: black;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
}
.navbar__menu:hover {
  color: grey;
  transition: all 0.3s ease-in-out;
}
.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5CB85F;
  --bs-btn-border-color: #5CB85F;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7ddf80;
  --bs-btn-hover-border-color: #7ddf80;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #5CB85F;
  --bs-btn-disabled-border-color: #5CB85F;
}
#hero__home{
  top: 0;
  padding: 0;
  background-color: #F1F3FF;
}
.hero__content {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 25%);
}

.car-image {
  overflow: hidden;
  position: absolute;
  right: 0;
  padding-top: 80px;
  z-index: 1;
  bottom: 0;
  height: 100%;
  padding-left: 50px;
}

.car-background {
  height: 270px;
  background-color: #0D28A6;
  width: 705px;
  position: absolute;
  z-index: 0;
  border-radius: 80px 0 0 0;
  right: 0;
  transform: translateY(-100%);
}

.car {
  position: relative;
  z-index: 1;
}

#service {
  top: 100px;
}
.service-image {
  width: 100%;
  max-width: 400px;
}

.break-top {
  margin-top: 100px;
}
.break-top__big {
  margin-top: 150px;
}

.splide__arrow svg {
  fill: none;
  height: unset;
  width: unset;
}

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #5CB85F;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 100%;
  transform: translateY(25%);
  width: 2em;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  border: 1px solid #5CB85F;
  margin-top: 20px;
}

.splide__arrow:hover:not(:disabled) {
  opacity: .5;
  transition: all 0.3s ease-in-out;
}
.splide__arrow:hover:active {
  background: #146c43;
}

.splide__arrow--next {
  right: 50%;
  transform: translateX(150%);
  color: white;
  transition: all 0.3s ease-in-out;
}
.splide__arrow--prev {
  left: 50%;
  transform: translateX(-150%);
  color: white;
  transition: all 0.3s ease-in-out;
}
.splide__arrow:disabled {
  background: #ffffff;
  color: black;
  opacity: 1;
  border: 1px solid #C4C4C4;
  transition: all 0.3s ease-in-out;
}
.splide__slide {
  background-color: #F1F3FF;
}

.profil {
  object-fit: cover;
}

.btn__footer {
  padding: 4px;
  background: #0D28A6;
  border: unset;
}
.card-car {
  width: 333px;

 }
 
 .car-img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    object-position: center;
 }
@media (max-width: 992px) {
  .hero__content {
    position: relative;
    left: unset;
    right: unset;
    transform: unset;
    padding-block: 50px;
  }
  h1 {
    line-height: 40px;
  }
  h2 {
    line-height: 30px;
  }
}

@media (max-width: 1400px) {
  .car-background {
    width: 50%;
  }
}